---
import "../styles/global.css";
import SiteHeader from "../components/SiteHeader.astro";
const { title = "Mi Sublimar" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Montserrat:wght@600;700;800;900&display=swap" rel="stylesheet" />

  </head>

  <body class="min-h-screen bg-neutral-50 text-neutral-900">
    <SiteHeader />
    <main>
      <slot />
    </main>
  </body>
</html>


<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
